<link rel="stylesheet" href="/css/cadastro.css">
<nav>
    <div class="logo">
        <a href="/">
            <img src="/img/logo.png" alt="logo patentizer" height="65px">
        </a>
    </div>
    <div class="menu">
        <a class="botao-entrar" href="/login">Entrar</a>
        <a class="sobre" href="#">Sobre</a>
        <a class="home" href="/">Home</a>
    </div>
</nav>
<main>
    <div class="formulario">
        <h1>Cadastro</h1>
        <form>
            <input required="" type="text" placeholder="Nome completo" name="nome" autocomplete="off"><br><br>
            <input required="" type="text" placeholder="Endereço" name="endereco" autocomplete="off"><br><br>
            <input required="" type="tel" placeholder="Contato" name="contato" autocomplete="off"><br><br>
            <input required="" type="text" placeholder="CPF/CNPJ" name="cpfcnpj" autocomplete="off"><br><br>
            <input required="" type="text" placeholder="Instituição" name="instituicao" autocomplete="off"><br><br>
            <input required="" type="text" placeholder="Ocupação" name="ocupacao" autocomplete="off"><br><br>
            <input required="" type="email" placeholder="E-mail" name="email"><br><br>
            <input required="" type="text" placeholder="Senha" name="senha" autocomplete="off"><br><br>
            <button type="submit">Concluir</button>
        </form>
    </div>
    <script src="/js/cadastro.js"></script>
</main>
