<link rel="stylesheet" href="/css/cadastro.css">
<nav>
    <div class="logo">
        <a href="/">
            <img src="/img/logo.png" alt="logo patentizer" height="65px">
        </a>
    </div>
    <div class="menu">
        <a href="/login">Entrar</a>
        <a href="#">Sobre</a>
        <a href="/">Home</a>
    </div>
</nav>
<main>
    <div class="formulario">
        <h1>Cadastro</h1>
        <form action="">
            <input type="text" placeholder="Nome completo"><br><br>
            <input type="text" placeholder="Endereço"><br><br>
            <input type="text" placeholder="Contato"><br><br>
            <input type="text" placeholder="CPF/CNPJ"><br><br>
            <input type="text" placeholder="Instituição"><br><br>
            <input type="text" placeholder="Ocupação"><br><br>
            <input type="text" placeholder="Tipo de patente"><br><br>
            <input type="text" placeholder="E-mail"><br><br>
            <input type="text" placeholder="Senha"><br><br>
            <button>Concluir</button>
        </form>
    </div>
</main>
