
<link rel="stylesheet" href="/css/dash-board-admin.css">
    
    <nav>
        <div class="logo">
            <a href="/">
                <img src="/img/logo.png" alt="logo patentizer" height="65px">
            </a>
        </div>
        <div class="menu">
            <a class="sobre" href="#">Sobre</a>
            <a class="home" href="/">Home</a>
        </div>
    </nav>

    <main>
        <div class="seletortela">
         <ul>
            <li>Home</li>
            <li>Tela de status</li>
            <li>Tela login</li>
            <li>Tela NIT</li>
            <li>Tela Cadastro</li>
        </ul> 
        </div>

        <div class="abas">
            <a href="#">HTML</a>
            <a href="#">CSS</a>
            <a href="#">SCRIPT</a>

            <div class="telaconsole">
            console
           </div>
        </div>
           <div class="admins">
            <div class="nome">Administradores cadastrados</div>
            <div class="nomesdmins">
               <br> <a href="#"><div class="circulo2"></div></a> &nbsp; &nbsp; Cristóvão Rios  <br><br> <a href="#"><div class="circulo2"></div></a> &nbsp; &nbsp; Daniel Lima <br><br> <a href="#"><div class="circulo2"></div></a> &nbsp; &nbsp; Kim Costa

            </div>
           </div>
        
    </main>