<link rel="stylesheet" href="/css/dash-board-usuario.css">
<nav>
    <div class="logo">
        <a href="/">
            <img src="/img/logo.png" alt="logo patentizer" height="65px">
        </a>
    </div>
    <div class="menu">
        <a class="usuario"><div class="usuario"></div></a>
        <a class="sobre" href="#">Sobre</a>
        <a class="home" href="/">Home</a>
    </div>
</nav>
<main>
    <div class="dash_user_docs">
        <p>Modelos dos documentos necessários para iniciar um pedido de patente.</p><br>
        <a href="#">- Documentos com modelos para pedido de patente de invenção.</a><br><br>
        <a href="#">- Documentos com requisitos específicos por tipo de invenção.</a><br><br>
        <a href="#">- Documentos com modelos para pedido de patente de utilidade.</a><br><br>
        <a href="#">- Documentos com requisitos específicos por tipo de invenção (utilidade).</a><br><br>
    </div>
    <div class="dash_user_painel">
        <table border="1">
            <tr>
                <th>Nome</th>
                <th>Status</th>
                <th>Etapa atual</th>
            </tr>
            <tr>
                <td>Motor elétrico</td>
                <td>
                    <ul>
                        Aprovado <br>
                        Aprovado <br>
                        Aprovado <br>
                        Aprovado <br>
                        Aprovado <br>
                    </ul>
                </td>
                <td>
                    <ul>
                        <div class="timeline"></div>Depósito do Pedido de Patente <br>
                        <div class="timeline"></div>Exame Formal <br>
                        <div class="timeline"></div>Publicação do Pedido <br>
                        <div class="timeline"></div>Exame Técnico <br>
                        <div class="timeline"></div>Decisão <br>
                    </ul>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</main>