<link rel="stylesheet" href="/css/dash-board-nit.css">
<nav>
    <div class="logo">
        <a href="/">
            <img src="/img/logo.png" alt="logo patentizer" height="65px">
        </a>
    </div>
    <div class="menu">
        <a class="usuario"><div class="usuario"></div></a>
        <a class="sobre" href="#">Sobre</a>
        <a class="home" href="/">Home</a>
    </div>
</nav>
<main>
    <table class="tabela-patentes">
        <tr>
            <th>Patentes</th>
            <th>Status</th>
            <th>Etapa atual</th>
            <th>Prazos</th>
        </tr>
        <tr>
            <td>Motor eletrico</td>
            <td>Aprovado</td> 
            <td>Patente Aceita</td>
            <td>10/2024<div class="sinalizar caixa"></div></td>
        </tr>
        <tr>
            <td>Ventilador</td>
            <td>Pendente</td> 
            <td>Publicação do pedido</td>
            <td>30/2022 <div class="sinalizar caixa"></div></td>
        </tr>
        <tr>
            <td>Mikey</td>
            <td>Aprovado</td> 
            <td>Patente aceita</td>
            <td>30/2022 <div class="sinalizar caixa"></div></td>
        </tr>
        <tr>
            <td>Motor eletrico</td>
            <td>Aprovado</td> 
            <td>Patente Aceita</td>
            <td>10/2024<div class="sinalizar caixa"></div></td>
        </tr>
        <tr>
            <td>Ventilador</td>
            <td>Pendente</td> 
            <td>Publicação do pedido</td>
            <td>30/2022 <div class="sinalizar caixa"></div></td>
        </tr>
        <tr>
            <td>Mikey</td>
            <td>Aprovado</td> 
            <td>Patente aceita</td>
            <td>30/2022 <div class="sinalizar caixa"></div></td>
        </tr>
        <tr>
            <td>Motor eletrico</td>
            <td>Aprovado</td> 
            <td>Patente Aceita</td>
            <td>10/2024<div class="sinalizar caixa"></div></td>
        </tr>
        <tr>
            <td>Ventilador</td>
            <td>Pendente</td> 
            <td>Publicação do pedido</td>
            <td>30/2022 <div class="sinalizar caixa"></div></td>
        </tr>
        <tr>
            <td>Mikey</td>
            <td>Aprovado</td> 
            <td>Patente aceita</td>
            <td>30/2022 <div class="sinalizar caixa"></div></td>
        </tr>
        <tr>
            <td>Motor eletrico</td>
            <td>Aprovado</td> 
            <td>Patente Aceita</td>
            <td>10/2024<div class="sinalizar caixa"></div></td>
        </tr>
    </table>
    <div class="guia-info-prazos">
        <div class="prazo-ok">
            <div class="sinalizar" id="ok"></div><p>Prazo ok</p>
        </div>
        <div class="prazo-encerrando">
            <div class="sinalizar" id="encerrando"></div><p>Prazo encerrando</p>
        </div>
    </div>
</main>
<!--
        {{#each cadastros}}
            <tr>
               <td>{{nomMus}}</td>
               <td>{{tipIns}}</td> 
               <td>{{nomBan}}</td>
            </tr>
        {{/each}}   -->