<link rel="stylesheet" href="/css/home.css">
<!--Copie a nav da tela de cadastro.handlebars cole aqui e faça suas alterações-->
<nav>
    <div class="logo">
        <a href="/">
            <img src="/img/logo.png" alt="logo patentizer" height="65px">
        </a>
    </div>
    <div class="menu">
        <a href="/cadastro">Cadastrar</a>
        <a href="/login">Entrar</a>
        <a href="#">Sobre</a>
        <a href="/">Home</a>
    </div>
</nav>
<main>
    <div class="chamada-para-acao">
        <div class="texto-chamativo">
            <h1>Uma propriedade intelectual não registrada é considerada de domínio público, apenas o registro de patente garante que os responsáveis criativos sobre o produto sejam os seus “donos legais”.</h1>
        </div>

        <a href="/cadastro" >Cadastrar sua patente</a>
    </div>
</main>