<link rel="stylesheet" href="/css/login.css">
<nav>
    <div class="logo">
        <a href="/">
            <img src="/img/logo.png" alt="logo patentizer" height="65px">
        </a>
    </div>
    <div class="menu">
        <a class="botao-cadastrar" href="/cadastro">Cadastrar</a>
        <a class="sobre" href="#">Sobre</a>
        <a class="home" href="/">Home</a>
    </div>
</nav>
<form class="tela-login" action="/autenticar" method="POST">
    <h1>Login</h1>
    <p style="color: red">Usuario ou senha invalidos</p>
    <input required="" type="text" placeholder="Usuário" name="usuario"><br><br>
    <input required="" type="password" placeholder="Senha" name="senha"><br><br>
    <button type="submit">Entrar</button><br>
    <p>Não possui uma conta?
        <br><a href="/cadastro">Cadastre-se-aqui</a>
    </p>
</form>



<!--
    var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Senhas diferentes!");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
-->