<link rel="stylesheet" href="/css/login.css">
<nav>
    <div class="logo">
        <a href="/">
            <img src="/img/logo.png" alt="logo patentizer" height="65px">
        </a>
    </div>
    <div class="menu">
        <a class="botao-cadastrar" href="/cadastro">Cadastrar</a>
        <a class="sobre" href="#">Sobre</a>
        <a class="home" href="/">Home</a>
    </div>
</nav>
<form class="tela-login">
    <h1>Login</h1>
    <input required="" type="text" placeholder="Usuário"><br><br>
    <input required="" type="password" placeholder="Senha"><br><br>
    <button type="submit">Entrar</button><br>
    <p>Não possui uma conta?
        <br><a href="/cadastro">Cadastre-se-aqui</a>
    </p>
</form>