<link rel="stylesheet" href="/css/login.css">
<nav>
    <div class="logo">
        <a href="/">
            <img src="/img/logo.png" alt="logo patentizer" height="65px">
        </a>
    </div>
    <div class="menu">
        <a href="/cadastro">Cadastrar</a>
        <a href="#">Sobre</a>
        <a href="/">Home</a>
    </div>
</nav>
<div class="tela-login">
    <h1>Login</h1>
    <input type="text" placeholder="Usuário"><br><br>
    <input type="password" placeholder="Senha"><br><br>
    <button>Entrar</button><br>
    <p>Não possui uma conta?
        <br><a href="#">Cadastre-se-aqui</a>
    </p>
</div>