.container{
    width: 100%;
    max-width: 1700px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

/*Consultar patentes*/
#linha1{
    margin-top: -20px;
    background-color: black;
    height: 2px;
    width: 80%;
}

.consulta-patente{
    text-align: center;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}

.pesquisa-nome, .pesquisa-categoria{
    text-align: left;
    background-color: #C4C4C4;
    border-radius: 15px;
    padding: 2%;
    margin-bottom: 3%;
}

#pesq-nome, #pesq-categoria{/*icones seach*/
    width: 30px;
    padding-left: 20px;
    position: absolute;
    margin-top: 16px;
    z-index: 0;
}

.pesquisa-categoria input, .pesquisa-nome input{
    margin-top: 20px;
    height: 20px;
    width: 300px;
}

#paragrafo1, #paragrafo2{
    color: #448ceb;
    font-weight: bolder;
    text-align: left;
}
#paragrafo2{
    margin-top: -20px;
}

/*================================*/
.depositar-patentes{
    width: 50%;
    max-width: 1500px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    background-color: white;
    border: solid 1px gray;
    border-radius: 10px;
    flex-wrap: wrap;
}

/*Depositar patentes*/
.formulario{
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.formulario h1{
    color: #1f406b;
}

.formulario input{
    width: 300px;
    padding: 5px;
    opacity: 1;
    outline-color: #1f406b;
    border: none;
    border-radius: 10px;
    background-color: #c4c4c4;
    color: black;
}

button{
    background-color: #1f406b;
    color: white;
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 170px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #448ceb;
}

/*Informações*/
.informacoes p{
    color: #1f406b;
    font-weight: bolder;
    text-align: left;
    padding-left: 30px;
}

.informacoes{
    height: 550px;
    border-left: solid 2px gray;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* configurações para dados dinamicos*/

.perfilUsuario{
    height: max-content;
    width: max-content;
    color: #fa8f02;
    border-radius: 50%;
    font-weight: bolder;
    background-color: white;
}