.container{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 110px;
    border: solid 2px red;
}

/*Consultar patentes*/
#linha1{
    margin-top: -20px;
    background-color: black;
    height: 2px;
    width: 80%;
}

.consulta-patente{
    text-align: center;
    border: solid;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}

.pesquisa-nome, .pesquisa-categoria{
    text-align: left;
    background-color: #C4C4C4;
    border-radius: 15px;
    padding: 2%;
    margin-bottom: 3%;
}

#pesq-nome, #pesq-categoria{
    width: 30px;
    padding-left: 20px;
    position: absolute;
    margin-top: 16px;

}

.pesquisa-categoria input, .pesquisa-nome input{
    margin-top: 20px;
    height: 20px;
    width: 300px;
}

#paragrafo1, #paragrafo2{
    color: #448ceb;
    font-weight: bolder;
    text-align: left;
}
#paragrafo2{
    margin-top: -20px;
}

/*================================*/
.depositar-patentes{
    border: solid black;
}

/*Depositar patentes*/
.formulario{
    text-align: center;
}

.formulario h1{
    color: #1f406b;
}

.formulario input{
    width: 300px;
    padding: 5px;
    opacity: 1;
    outline-color: #1f406b;
    border: none;
    border-radius: 10px;
    background-color: #c4c4c4;
    color: black;
}

button{
    background-color: #1f406b;
    color: white;
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    margin-top: 30px;
    cursor: pointer;
}

button:hover{
    background-color: #448ceb;
}